{% extends 'base.html.twig' %}

{% block title %}Edit Cliente{% endblock %}

{% block stylesheets %} 
    <link href="{{ asset('css/form.css') }}" rel="stylesheet"/> 
{% endblock %}

{% block body %}
    <div class='formulario'> 
        <h2>Editar</h2>
        {{ include('cliente/_form.html.twig', {'button_label': 'Atualizar'}) }}
        {{ include('cliente/_delete_form.html.twig') }}
        <div class="link">
            <a href="{{ path('cliente_listar') }}">Voltar</a>            
        </div>        
    </div>
{% endblock %}
