{% extends 'base.html.twig' %}

{% block title %}New Cliente{% endblock %}
{% block stylesheets %} 
    <link href="{{ asset('css/form.css') }}" rel="stylesheet"/> 
{% endblock %}

{% block body %}
    <div class="formulario"> 
    <h2>Novo Cliente</h2>
        {{ include('cliente/_form.html.twig') }}
        <p class="link">
            <a href="{{ path('cliente_index') }}">Voltar</a>
        </p>
    </div> 
{% endblock %}
